{% load i18n %}
{% autoescape off %}
	{% blocktrans %}
	You are receiving this email because you requested to create an account on http://127.0.0.1:8000.
	{% endblocktrans %}

	{% trans "Please the link below to activate your account:" %}

	{% block reset_link %}

	http://127.0.0.1:8000{% url 'activate' uidb64=uid token=token %}

	{% endblock %}

	{% trans 'Your username, in case you’ve forgotten:' %} {{ user.get_email }}

	{% trans "Thanks for using our site!" %}

	{% blocktrans %}
	Sincerely, team of http://127.0.0.1:8000
	{% endblocktrans %}

{% endautoescape %}