{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}Login{% endblock title %}

{% block style %}
<link href='{% static 'plugins/selectric/selectric.css' %}' rel='stylesheet'>
<link href='{% static 'plugins/dzsparallaxer/dzsparallaxer.css' %}' rel='stylesheet'>
<link href='{% static 'plugins/map/css/map.css' %}' rel='stylesheet'>
{% endblock style %}

{% block wrapper %}
    <div class="main-wrapper bg-light" style="height: 100%">
      <!-- ====================================
      ———	LOGIN PAGE
      ===================================== -->
      <section class="py-3 py-md-3 bg-light ">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
              <div class="card">
                <div class="card-body px-7 pt-7 pb-0">
                <div class="bg-primary text-center py-4">
                  <h2 class="text-white mb-0 h4">Members Log In</h2>
                </div>
                {% comment %} <div class="card-body px-7 pt-7 pb-0"> {% endcomment %}
                  <form method="post">
                      {% csrf_token %}
                     {{ form.as_p }}
                    <div class="form-group d-flex justify-content-between align-items-center mb-7">
                      <button type="submit" class="btn btn-outline-primary text-uppercase">
                        Log in
                      </button>
                      <a href="{% url 'password_reset' %}">Fogot Password?</a>
                    </div>
                  </form>
                </div>
                <div class="card-footer bg-transparent text-center py-3">
                  <p class="mb-0">Not a member yet? <a href="{% url 'register'%}" class="link">Sign up</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div> <!-- element wrapper ends -->
{% endblock wrapper %}

{% block extra_script %}
{% endblock extra_script %}