{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}Sign up{% endblock title %}

{% block style %}
<link href='{% static 'plugins/selectric/selectric.css' %}' rel='stylesheet'>
<link href='{% static 'plugins/dzsparallaxer/dzsparallaxer.css' %}' rel='stylesheet'>
<link href='{% static 'plugins/map/css/map.css' %}' rel='stylesheet'>
{% endblock style %}


{% block wrapper %}
    <div class="main-wrapper bg-light">
     

      <!-- ====================================
      ———	SING UP
      ===================================== -->
      <section class="py-3 py-md-3 bg-light ">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
              <div class="card">
                <div class="card-body px-7 pt-7 pb-0">
                <div class="bg-primary text-center py-4">
                  <h2 class="text-white mb-0 h4">Members Sign up</h2>
                </div>
                {% comment %} <div class="card-body px-7 pt-7 pb-0"> {% endcomment %}
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="form-group d-flex justify-content-between align-items-center mb-7">
                      <button type="submit" class="btn btn-outline-primary text-uppercase">
                        Create Account
                      </button>
                    </div>
                  </form>
                </div>
                <div class="card-footer bg-transparent text-center py-3">
                  <p class="mb-0">Is a member? <a href="{% url 'login'%}" class="link">Login</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div> <!-- element wrapper ends -->
{% endblock wrapper %}




{% block extra_script %}
    {% comment %} <script src='{% static 'plugins/jquery/jquery-3.4.1.min.js' %}'></script>
    <script src='{% static 'plugins/bootstrap/js/bootstrap.bundle.js' %}'></script>
    <script src='{% static 'plugins/menuzord/js/menuzord.js' %}'></script>
    <script src='{% static 'plugins/smoothscroll/SmoothScroll.js' %}'></script>
    <script src='{% static 'plugins/lazyestload/lazyestload.js' %}'></script> {% endcomment %}
{% endblock extra_script %}