:root {
    --muted-color: rgba(255, 255, 255, 0.5);
}


body {
  /* background: #15202b; */
  background: rgb(0, 0, 0);
  color: var(--muted-color);
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: white!important ;
  font-weight: bold!important;
}

/* ul {
  margin: 0;
} */

/* .bg-steel {
  background-color: #15202b;
} */

.footer {
  position:absolute;
  bottom:0!important;
  width:99%;
  z-index:-1;
}



.site-header .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  font-size: 1.3em;
}

.site-header .navbar-nav .nav-link:hover {
  color: rgba(29,161,242,1.00)!important; 
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  padding: 10px 10px;
  margin-bottom: 20px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: var(--muted-color);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

a {
    color: white;
    text-underline: none;
     text-decoration: none !important;
}
a:hover {
    color: rgba(29,161,242,1.00)!important; 
    text-underline: none !important;
}
.text-muted {
    color: var(--muted-color) !important;
}

article {
    border-radius: 4px;
}

.white-important {
    color: white;
    font-weight: bold;
}

.full-width {
    width: 100%
}

.btn-outline-primary {
    border-color: white;
    color: white !important;
    padding: 12px 80px 12px 80px;
    font-weight: bold;
    background-color: #1da1f2;
    border:0;
    border-radius: 25px; 
}

.btn-outline-primary:hover {
  border-color: white;
  color: white !important;
  padding: 12px 80px 12px 80px;
  font-weight: bold;
  background-color: #135f8f;
  border:0;
  border-radius: 25px; 
}

.col-form-label {
    color: white;
}

.form-control {
    background-color: #36405e !important;
    color: var(--muted-color) !important;
    box-shadow: 0 0 0 0 !important;
    border-radius: 20px !important;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0 !important;
    border-color: #0d6efd !important;
    color: white !important;
}

.alert-success {
    /* color: #00FBD7;
    background-color: #36405e;
    border-color: #00FBD7; */
}

.pointer-cur {
    cursor: pointer;
}

.btn-info {
    color: white;
    background-color: #36405e;
    border-color: white;
}

.btn-outline-secondary {
    border-color: rgba(255, 255, 255, 0.5);
    color: white !important;
}

.nav-link:hover {
    -webkit-transition: color .2s;
    color: white !important;
}

ul {
    list-style: none !important;
}

.hovered-tweet {
    background-color: #90909017;
    border-radius: 20px;
}

.hovered-tweet {
    border: 1px solid transparent;
}

.hovered-tweet:hover {
    -webkit-transition: background-color ease-in-out .2s;
    -webkit-transition: border ease-in-out .2s;
    background-color: #b6b6b62d !important;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
}

.hovered-tweet-comment {
    background-color: rgb(21, 24, 28) !important;
    padding:15px;
    border-radius: 20px;
    border:1px solid grey;
}

.hovered-tweet-comment-in{
    background-color: rgb(21, 24, 28) !important;
    padding:12px;
    border-radius: 20px;
}

input[type="file"]::-webkit-file-upload-button {
    color: white !important;
    background-color: #15202b !important;
    border-radius: 4px;
    border: 1px solid white;
}

.follow-click:hover {
    color: rgba(29,161,242,1.00)!important; 
}

.t-section{
  background-color: rgb(21, 24, 28);;
  border-radius: 25px;
}

.who-to-follow{
  border-top: 1px solid grey;
  padding: 3px;
  margin: 3px;
}

.profile-section{
  background-color: rgb(21, 24, 28);
  border-radius: 25px;
}


.scrollable {
  overflow-y: auto; 
}

.email-profile{
  font-size: 13px;
  outline: hidden;
}

