{% load static %}

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}Auctions{% endblock %}</title>

		<!-- CSS only -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<link href="{% static 'auctions/styles.css' %}" rel="stylesheet" />
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container-fluid">
				<span class="navbar-brand" href="#">CS50 Auctions</span>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" >
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto mr-auto">
						<li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
						</li>						
                        {% if user.is_authenticated %} 
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'new_listing' %}">Create Listing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'watchlist' user.id %}">WatchList</a>
					        </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="logged_box pt-2">
                                {% if user.is_authenticated %} 
                                    <span class="d-inline-flex">Signed in as</span> <strong class="text-white">{{ user.username }}</strong> 
                                    <a class="nav-link d-inline-flex text-white" href="{% url 'logout' %}">[Log Out]</a>
                                {% else %} 
                                    <span class="d-inline-flex">Not signed in:</span> 
                                    <a class="nav-link d-inline-flex text-white" href="{% url 'login' %}">[Log In]</a>
                                    <span class="d-inline-flex">or</span> 
                                    <a class="nav-link d-inline-flex text-white" href="{% url 'register' %}">[Register]</a>
                                {% endif %}
                            </div>
                        </li>
                        <li>
                        <form class="d-inline-flex pt-2">    
                            <input class="form-control me-2" type="search" placeholder="Search Listings" aria-label="Search" />
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        </li>
                       </ul>					

				</div>
			</div>
		</nav>

		<main class="container">
			<div class="bg-light p-5 rounded">
				<h1>Auctions</h1>
				{% comment %} <div>
					{% if user.is_authenticated %} Signed in as <strong>{{ user.username }}</strong>. {% else %} Not
					signed in. {% endif %}
				</div>
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'index' %}">Active Listings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'categories' %}">Categories</a>
					</li>
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'new_listing' %}">Create Listing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'watchlist' user.id %}">WatchList</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Log Out</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Log In</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'register' %}">Register</a>
					</li>
					{% endif %}
				</ul> {% endcomment %}
				<hr />
				{% block body %} {% endblock %}
			</div>
		</main>
	</body>
</html>
