{% extends "auctions/layout.html" %} {% block body %}

<h2>Login</h2>

{% if message %}
<div>{{ message }}</div>
{% endif %}

<main class="form-signin">
	<h1 class="h3 mb-3 fw-normal">Please sign in</h1>

	<form action="{% url 'login' %}" method="post">
		{% csrf_token %}

		<div class="form-floating">
			<input autofocus type="text" class="form-control" id="floatingInput" name="username" placeholder="Username" />
			<label for="floatingInput">Usename</label>
		</div>
		<div class="form-floating">
			<input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" />
			<label for="floatingPassword">Password</label>
		</div>

		<div class="checkbox mb-3">
			<label> Don't have an account? <a href="{% url 'register' %}">Register here.</a> </label>
		</div>

		<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
	</form>
</main>

{% endblock %}
