{% extends "network/layout.html" %} 
{% load network_extras %}
{% load static %} 
{% block content %}

	{% comment %} Title and Tweet count  Row {% endcomment %}
	<div class="row">
		<div class="col-12">
			<h4 class="white-important m-1">Posts</h4>
		</div>
	</div>

	<hr>

	{% comment %} Tweets Row {% endcomment %}
	<div class="row">
		<div class="col-12 ">	
			{% save_post_template %}	
		
			{% comment %} Posts from the user {% endcomment %}
			{% postlist_template page_obj %}	

		</div>
	</div>

{% endblock content %}

