{% load static %}

<!-- Navbar brand -->
<a class="navbar-brand" href="/"> 
    <div class="row">
            <div class="col-2 p-0 m-0">
                <img class="d-inline-block align-text-center" width="50" src="{% static 'network/logo.png' %}" />
            </div>
            <div class="col-10">
                <div>
                    <h2>CS50 Posts</h2>
                </div>
                <div class="text-muted" style="margin-top: -10px; font-size: 14px;"> A Twitter Clone</div>
            </div>    
    </div>
</a>

    


<!-- Left links -->
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <div class="nav-itemdiv">	
            <a class="nav-link" href="{% url 'home' %}">
                <i class="fas fa-home"></i>
                <span class="navbar-text">Home</span>
            </a>
        </div
    </li>
    {% if user.is_authenticated %} 
        <li class="nav-item">
            <div class="nav-itemdiv">						
                <a class="nav-link" href="{% url 'user-posts' user.username %}">
                    <i class="far fa-id-card"></i>
                    <span class="navbar-text">Profile</span>
                </a>
            </div>
        </li>
    {% endif %}

    {% if user.is_authenticated %} 
        <li class="nav-item">
            <div class="nav-itemdiv">	
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="navbar-text">Logout</span>
                </a>
            </div>
        </li>
    {% else %}
        <li class="nav-item">
            <div class="nav-itemdiv">
                <a class="nav-link" href="{% url 'login' %}">
                    <i class="fas fa-user"></i>
                    <span class="navbar-text">Login</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="nav-itemdiv">
                <a class="nav-link" href="{% url 'register-users' %}">
                    <i class="fas fa-user-plus"></i>
                    <span class="navbar-text">Register</span>
                </a>
            </div>
        </li>
    {% endif %}
    
    {% if user.is_authenticated %} 
        <li class="nav-item">
            <div class="nav-itemdiv">						
                <a class="nav-link" href="{% url 'settings' %}">
                    <i class="fas fa-cog"></i>
                    <span class="navbar-text">Settings</span>
                </a>
            </div>
        </li>
    {% endif %}
    <li class="nav-item">
        <div class="nav-itemdiv">
            <a class="nav-link" href="{% url 'about' %}">
                <i class="fas fa-question"></i>
                <span class="navbar-text">About</span>
            </a>
        </div>
    </li>
    <li class="nav-item">
        <div class="">
             <button class="newPost btn btn-primary form-control btn-rounded mt-2 mb-2 pt-2 pb-2">New Post</button>
        </div>
    </li>
   
</ul>