{% load network_extras %}
{% load static %} 

{% comment %} Renders an individual post {% endcomment %}
<article class="media content-section hovered-post" data-postid="{{postResult.post.id}}">
    {% comment %} <div class="container-fluid"> {% endcomment %}
    <div class="row">
        {% comment %} Post Title {% endcomment %}
        {% comment %} User Photo and Name {% endcomment %}
        <div class="col-1 p-1">
            <img class="rounded-circle m-1" style="width: 50px; height: 50px" src="{{ postResult.post.author.profile.image.url }}" />
        </div>

        {% comment %} Post {% endcomment %}
        <div class="col-11 ps-3">
            {% comment %} Post Header {% endcomment %}
            <div class="row">
                <div class="col-10">
                    <a class="white-important" href="{% url 'user-posts' postResult.post.author %}">
                        {{ postResult.post.author }}
                    </a>
                    <span class="ps-1"> {{ postResult.post.author.email }} <span>
                </div>
                
                 {% comment %} Post Action Buttons {% endcomment %}
                <div class="col-2 text-end pe-2">
                    {% if postResult.post.author == user %}
                        <div class="d-inline-flex">
                            <div class="d-inline-flex roundedLikeButtonContainer">
                                <a href="javascript:void(0)" 
                                    data-bs-toggle="tooltip" 
                                    data-bs-placement="bottom" 
                                    data-postid="{{postResult.post.id}}"
                                    title="Delete" class="deletePost">
                                        <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>	
                        </div>
                        <div class="d-inline-flex">
                            <div class="d-inline-flex roundedLikeButtonContainer">
                                <a href="javascript:void(0)" 
                                    data-bs-toggle="tooltip" 
                                    data-bs-placement="bottom" 
                                    data-postid="{{postResult.post.id}}"
                                    title="Update" class="updatePost">
                                        <i class="far fa-edit"></i>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            
            {% comment %} Post Content (Clicking view the details of the post) {% endcomment %}
            <div class="row">
                <div class="col-12">
                    <a style="color: rgba(255, 255, 255, 0.5) !important" href="{% url 'post-detail' postResult.post.id %}">
                        <p class="mb-4">{{ postResult.post.content }}</p>
                    </a>
                </div>
            </div>

            {% comment %} Post Footer {% endcomment %}
            <div class="row">
                <div class="col-6">
                    <div class="d-inline-flex">
                        <div class="d-inline-flex roundedLikeButtonContainer pt-1">
                            <a href="javascript:void(0)" 
                                data-postid="{{postResult.post.id}}"
                                class="likePost">
                                    {% if postResult.liked %}													
                                        <i id="likeIcon{{postResult.post.id}}" class="fas fa-heart"></i>
                                    {% else %}
                                        <i id="likeIcon{{postResult.post.id}}" class="far fa-heart"></i>
                                    {% endif %}
                            </a>
                        </div>
                        <div class="d-inline-flex">
                            <span class="pt-1 likeCount{{postResult.post.id}}">{{postResult.post.LikeCount}}</span>
                        </div>
                    </div>
                    
                    <span class="m-1">|</span>
                    
                    <div class="d-inline m-1">
                        <a href="/post/{{postResult.post.id}}/"
                            data-postid="{{postResult.post.id}}"
                            class="commentPost">
                            <i class="far fa-comment"></i> {{ postResult.post.CommentsCount }} comment(s) 
                        </a>
                    </div>
                </div>

                <div class="col-6">
                    <div class="text-end" >
                        <span class="align-middle">{{ postResult.post.date_posted | date:"H:i l, d.m.y" }}</span>							
                    </div>	
                </div>
            
            </div>

         </div>

    </div>
   
</article>