{% load network_extras %}
{% load static %}

<div class="row">
	<div class="">
		<div class="cover-photo">
			<div class="fb-timeline-img">
                <img src="{% static "profile_pics/default_profile_bg.jpg" %}" alt="">
            </div>
		</div>

		<div class="panel-body">
			<div class="profile-thumb roundedThumbContainer">
				{% if user_to_view.profile != None %}
				    <img src="{{ user_to_view.profile.image.url }}" />
				{% else %} 
                    <img src="{% static "profile_pics/default.png" %}" /> 
                {% endif %}

				<div class="float-end">
                    {% comment %} If viewing my own profile page {% endcomment %}
					{% if user_to_view == user %}
					    <button class="btn btn-outline-primary btn-rounded mt-2" name="btnEditProfile" onclick="location.href='{% url 'settings' %}'">Edit Profile</button>
					{% else %}
                        <button class="btn btn-primary btn-rounded mt-2" name="btnFollow" data-useridtofollow="{{user_to_view.id}}" data-loggeduserid="{{user.id}}" > 
                            {% if can_current_user_follow %} Follow {% else %} Following {% endif %}
                        </button>
					{% endif %}
				</div>

				<div>
					<h2 class="m-0">{{user_to_view.username}}</h2>
					<span>{{user_to_view.email}}</span>
				</div>

				<div>
					<div class="pt-3">
						{% comment %} Other profile data to be added here {% endcomment %}
						<i class="far fa-calendar-alt"></i>
						Joined {{user_to_view.date_joined|date:"F Y"}}
					</div>
					<div class="d-inline pe-3">
                        <a href="{% url 'user-following' user_to_view %}">
                            <span class="white-important">{{user_to_view.profile.following_count}}</span> Following
                        </a>
                    </div>
					<div class="d-inline pe-3">
                        <a href="{% url 'user-followers' user_to_view %}">
						    <span class="white-important">{{user_to_view.profile.followers_count}}</span> Followers
                        </a>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
