body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
    color: #333;
}

nav {
	padding: 8px;
	
    .navbar-nav a {
		color: black;
	}

    .nav-item:hover {
        text-decoration: underline;
    }
}

.banner_container {
	margin-top: 40px;
}

.banner_logo {
	width: 450px;
	height: 250px;
}

.small_banner_logo {
	width: 100px;
	height: 50px;
}

.images_text_banner {
	color: rgb(72, 72, 224);
	font-size: larger;
	float: left !important;
	margin-top: 150px;
	margin-right: -350px;
	position: absolute;
	z-index: 2;
}

.search_input {
	border-radius: 50px;
	border-color: #5f5f5f;
	width: 480px;
	background: url(images/search_small.png) no-repeat scroll 5px 4px;
	opacity: 0.6;
	padding-left: 35px;
}

.search_input:focus {
	border-color: #616161;
	-webkit-box-shadow: 2px 3px 0px -2px rgb(158, 158, 158);
	box-shadow: none;
}

.search_input:hover {
	-webkit-box-shadow: 3px 6px 7px -3px rgb(158, 158, 158);
}

.btn-pri {
	color: #616161;
	border-radius: 5px;
	padding: 5px 8px;
	background-color: rgb(241, 231, 231);
	border-width: 0px;
	margin-right: 8px;
	font-size: 14px;
}

.btn-pri:hover {
	border: 1px solid grey;
}

.submit-icon-container {
	position: absolute;
	z-index: 2;
	margin-left: 435px;
	margin-top: 2px;
}

.submit-icon {
	max-width: 35px;
	max-height: 35px;
}


.appbar{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}



.AdvancedSearchOptionsGrid{
    font-size: 13px;
    padding-right: 80px;
    padding-left: 50px;

    .titleAdvancedField{
        font-size: 16px;
    }
    .titleAditionalInstructions{
        font-size: 13px;
        font-weight: bold;
    }

    .row{
        height: 40px;        
    }

    // Columns in the middle of the grid
    .row > div{
        vertical-align: middle;
    }

    input[type=text], select{
        width: 100%;    
        // border-color: #dedede;
        // border-style: solid;     
        border: 1px solid #dcdcdc;   
    }

    select{
        user-select: none;
        text-align: left;
        text-indent: 4px;
        background-color: #f5f5f5;
        background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
        border: 1px solid #dcdcdc;
        color: #444;
        font-size: 11px;
        font-weight: bold;
        height: 30px;
    }

    .AditionalInstructions{
        color: #6c757d;
        font-size: 11px;

        .AditionalInstructionsExample{
            font-family: monospace;
            
            white-space: pre;
        }
    }
    
}

.btn-advanced-search {
	 font-size: 0.75rem;
	line-height: 1;
	border-radius: 0.2rem;
	font-weight: bold;
    opacity: 0.8;
}
