{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}404{% endblock title %}
{% block wrapper %}

    <div class="main-wrapper">
      <section class="bg-light py-10">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="text-content-404">
                <h1 class="text-primary">404</h1>
                <p class="mb-9">The page you are looking for was moved, removed, renamed or might never existed.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

{% endblock wrapper %}


