{% load static %}

<footer class="footer-dark">
	<div class="container">
		<div class="row">
		<div class="col-12">
			<div class="row">

				<div class="col-md-6 col-sm-7 col-xs-12 align-self-center order-3 order-md-0">
				<p class="copy-right mb-0 pb-4 pb-md-0">
					Copyright &copy; <span id="copy-year">2021</span>. All Rights Reserved by
					<a href="http://www.ewer.com.br/" target="_blank"> Ewerton Mattos</a>
				</p>
				</div>

				<div class="col-md-6 col-sm-5 col-xs-12 d-flex align-items-center">
				<div class="ml-md-auto mx-auto mx-md-0 mt-3 mb-5 my-md-0">
					<a class="icon-sm icon-default icon-border hover-bg-primary rounded-circle ml-2" target="_blank" href="https://www.facebook.com/ewermattos">
					<i class="fab fa-facebook-f" aria-hidden="true"></i>
					</a>
					<a class="icon-sm icon-default icon-border hover-bg-primary rounded-circle ml-2" target="_blank" href="https://twitter.com/ewernet">
					<i class="fab fa-twitter" aria-hidden="true"></i>
					</a>
					<a class="icon-sm icon-default icon-border hover-bg-primary rounded-circle ml-2" target="_blank" href="https://www.linkedin.com/in/ewernet/">
					<i class="fab fa-linkedin-in" aria-hidden="true"></i>
					</a>
				</div>

			</div>
		</div>
		</div>
	</div>
</footer>